*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /* Establece la fuente de Google aquí */
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.71429;
    background-color: #fff;
}
/*Hacemos que nuestro menú sea fijo respecto a la página*/
header{
    position: fixed;
    background: white;
    top: 0;
}
.menu{
    padding: 14px 70px;
    overflow: auto;
}

img {
    vertical-align: middle;
}

/*Damos tamaño y posición derecha a el logo */
.logo{
    width: 70px;
    float: right;
}
a {
    color: #373B47;
    text-decoration: none;
}

a:hover {
    color: #E95853;
}

.link{
    font-weight: 700;
    padding: 21px;
}

/*Segunda sección*/

#home{
  background-image: url(../assets/images/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 588px;
  text-align: center;
}

/*Checar uno por uno*/
#home .container{
  color: white;
  padding: 70px;

}

.text-home{
  font-size: 53px;
}

.btn-home{
  background: #2ECC71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

.comodin{
    height: 80px;
}

#services{
     box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  background-color: #F17C72;
  text-align: center;
  color: #fff;
  padding: 70px 7px;
    
}

.box-services{
  width: 30%;
}

.text-services{
  font-size: 35px;
  letter-spacing: 2px;
}
#lapiz{
    border-radius: 50%;
}
#work{
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.box-work{
  text-align: center;
  padding: 70px 7px;
  width: 30%;
}

.text-work{
    color: black;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(46, 204, 113);
  background-color: rgba(46, 204, 113,0.7);
}

.modal-content{
  margin:auto;
  display:block;
  width:80%;
  max-width:700px;
}
#caption {
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
}

.modal-content, #caption {
   -webkit-animation-name: zoom;
   -webkit-animation-duration: 0.6s;
   animation-name: zoom;
   animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
   from {-webkit-transform:scale(0)}
   to {-webkit-transform:scale(1)}
}

@keyframes zoom {
   from {transform:scale(0)}
   to {transform:scale(1)}
}

.ocultar {
   position: absolute;
   top: 15px;
   right: 35px;
   color: #f1f1f1;
   font-size: 40px;
   font-weight: bold;
   transition: 0.3s;
}

.ocultar:hover,
.ocultar:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
}

@media only screen and (max-width: 700px){
   .modal-content {
       width: 100%;
   }
}

#copyright{
  text-align: center;
  color: white;
  background: black;
  letter-spacing: 2px;
}
